.intro-main-container{
    position: relative;
    display: flex;
}
.intro-image-video-container{
    width: 100%;
    height: 500px;
    padding-top: 0;
}
.intro-slider-container{
    height: 100%;
}
.intro-thumbnail{
    width: 100%;
    height: 100%;
}
.intro-sub-container{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.intro-content-container{
    position: relative;
    text-align: left;
    width: 90%;
    top: 50%;
    margin-left: 50%;
    transform: translate3d(-50%, -50%, 0);
}
.intro-header{
    font-size: 40px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(13, 58, 102);
    font-family: 'Times New Roman', Times, serif;
}
.intro-button{
    position: relative;
    font-size: 25px;
    color: white;
    top: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: navy;
    box-shadow: 4px 4px 10px black;
}
.intro-back-button-style{
    width: 110px;
    height: 20px;
    margin-top: -1px;
    margin-left: 15px;
    border-radius: 50%;
    box-shadow: 10px 10px 10px black;
}
.intro-button-hover:hover{
    background-color: black;
}

@media screen and (max-width:767px){
    .intro-header{
        font-size: 25px;
        color: white;
        font-weight: bold;
    }
}

