.offer-card-main-container{
    margin-top: 100px;
}
.offer-card-header{
    font-size: 30px;
    text-align: center;
    color: dodgerblue;
}
.offer-card-sub-container{
    width: 100%;
}
.offers-card-container{
    display: inline-block;
    width: 30%;
    margin: 1.5%;
    background-color: dodgerblue;
}
.offers-card-img-container{
    width: 100%;
    border: 1px solid dodgerblue;
}
.offers-image{
    width: 100%;
    height: 200px;
}
.offers-card-text-container{
    margin-top: 10px;
    color: white;
    padding-left: 5px;
    max-height: 200px;
    overflow: hidden;
}
.offers-card-title{
    font-size: 25px;
}
.offers-card-sub-title{
    font-weight: bold;
}
.offers-card-notes{
    font-size: 18px;
}
.offers-button{
    text-align: center;
    color: rgb(7, 42, 77);
    font-size: 20px;
    font-weight: bold;
}
.offers-button-hover:hover{
    color: gray;
}

@media screen and (max-width:767px){
    .offers-card-container{
        display: block;
        width: 100%;
        margin: 0%;
        margin-top: 10px;
        background-color: dodgerblue;
    }
}