.pricing-main-container{
    position: relative;
    margin-top: 100px;
}
.pricing-sub-container{
    display: flex;
    width: 100%;
    height: 400px;
    background-color: rgb(28, 10, 51);
    padding: 40px;
}
.pricing-content-container{
    text-align: center;
    width: 100%;
}
.pricing-content-sub-container{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.pricing-image-container{
    width: 100%;
    height: 100%;
}
.pricing-image{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.pricing-header{
    font-size: 40px;
    color: white;
    font-weight: bold;
}
.pricing-button{
    color: white;
    font-size: 25px;
    margin-top: 20px;
}
.pricing-button-hover:hover{
    color: gray;
}

@media screen and (max-width:500px){
    .pricing-header{
        font-size: 25px;
        color: white;
        font-weight: bold;
    }
}

