.benefits-left-right-container{
    display: flex;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    background-image: url(../images/bgImg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--header-text-color);
}
.benefits-left-container{
    width: 30%;
    padding: 20px;
    font-size: 20px;
    text-align: justify;
    padding-top: 100px;
}
.benefits-left-header{
    font-weight: bold;
    font-size: 30px;
}
.benefits-left-sub-header{
    font-size: 30px;
}
.benefits-right-container{
    width: 70%;
    padding: 20px;
    overflow: scroll;
}
.benefits-header{
    font-size: 20px;
    color: white;
    padding: 20px;
    text-align: center;
    background-color: rgb(18, 88, 83);
    font-family: 'Times New Roman', Times, serif;
}
.benefits-header-image{
    width: 80%;
    height: auto;
    margin-left: 50%;
    transform: translateX(-50%);
}
.benefits-content{
    font-size: 30px;
}
.benefits-more-container{
    margin: 5px;
}
.benefits-more-title{
    font-size: 30px;
    padding-bottom: 20px;
    text-decoration: underline;
}
.benefits-more-content{
    font-size: 20px;
    padding-left: 20px;
    color: var(--header-text-color);
}
.benefits-promo-container{
    padding: 50px;
    user-select: none;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: var(--header-text-color);
}
.benefits-promo-button{
    display: inline-block;
    padding: 15px;
    border-radius: 5px;
    margin-left: 50%;
    transform: translateX(-50%);
    color: black;
    font-weight: bold;
    background-color: orange;
    box-shadow: 2px 2px 10px black;
}
.benefits-promo-hover:hover{
    color: white;
    background-color: black;
}

@media screen and (max-width:767px){
    .benefits-header{
        padding: 20px;
    }
    .benefits-item-container{
        display: block;
        width: 95%;
        height: 240px;
        margin: 0px;
        margin-left: 50%;
        margin-top: 10px;
        transform: translateX(-50%);
    }
    .benefits-image-container{
        width: 100px;
        margin-left: 50%;
        border-radius: 50%;
        transform: translateX(-50%);
    }
    .benefits-image{
        width: 100%;
        height: 100%;
    }
    .benefits-content{
        padding: 10px;
    }
}