.form-main-container{
    width: 50%;
    z-index: 99;
    margin-left: 49%;
    background-color: white;
    --ion-background-color: white;
    user-select: none;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid var(--header-text-color) ;
    box-shadow: 4px 4px 10px black;
}
.form-header-container{
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 1px solid black;
}
.form-header{
    width: 100%;
    text-align: center;
    font-size: 25px;
}
.form-input-container{
    display: flex;
}
.form-input-sub-container{
    width: 100%;
}
.form-input-floating-text{
    z-index: 9;
}
.form-input{
    border: 1px solid var(--header-text-color);
    border-radius: 3px;
    background-color: white;
}
.form-service-button-container{
    border: 1px solid var(--header-text-color);
    border-radius: 3px;
    margin-top: 20px;
    margin-left: 16px;
    margin-right: 16px;
    height: 42px;
    font-size: 17px;
    display: flex;
    background-color: white;
}
.form-service-button-sub-container{
    display: inline;
    width: 100%;
    color: black;
}
.form-drop-down-container{
    padding-left: 16px;
}
.form-down-icon{
    font-size: 30px;
    margin-top: 5px;
    margin-right: 10px;
}
.form-textarea{
    border: 1px solid var(--header-text-color);
    border-radius: 3px;
    padding-left: 5px;
    height: 150px;
    margin-top: 22px;
    background-color: white;
}
.form-input-focus:focus{
    border: 1px solid blue;
}
.form-button-container{
    width: 50%;
    margin-top: 60px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.form-button{
    width: 100%;
    height: 30px;
}
/*side info*/
.form-side-info-container{
    position: absolute;
    top: 0;
    width: 49%;
    height: 100%;
    user-select: none;
}
.form-side-info-sub-container{
    margin-top: 50%;
    margin-left: 50%;
    transform: translate3d(-50%, -50%, 0);
    font-size: 20px;
    color: var(--header-text-color);
    text-align: left;
    text-shadow: 1px 1px 2px black;
}
.form-side-info-logo{
    width: 130%;
    height: 130%;
}

@media screen and (max-width:767px){
    .form-main-container{
        margin-top: 20px;
        width: 95%;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .form-button-container{
        width: 60%;
        margin-top: 25px;
    }
    .form-side-info-container{
        position: absolute;
        top: -100px;
        width: 95%;
    }
    .form-side-info-logo{
        width: 50%;
        margin-left: 100%;
    }
    .form-side-info-content{
        display: none;
    }
}