.offer-main-container{
    width: 75%;
    margin-left: 50%;
    transform: translateX(-50%);
    user-select: none;
}
.offer-service-container{
    display: flex;
    width: 100%;
    margin: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
.offer-thumbnail-container{
    width: 20%;
    height: 100px;
}
.offer-content-container{
    width: 60%;
    padding: 5px;
}
.offer-title{
    font-weight: bold;
    font-size: 25px;
    color: var(--offer-text-header);
}
.offer-content{
    color: black;
}
.offer-button-container{
    position: relative;
    width: 20%;
}
.offer-button{
    position: absolute;
    top: 50%;
    right: 0;
    width: 120px;
    padding: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
    transform: translateY(-50%);
    box-shadow: 4px 4px 10px black;
    background-color: var(--offer-text-header);
}
.offer-button-click:active{
    box-shadow: 2px 2px 5px black;
}
.offer-button-hover:hover{
    background-color: black;
}

@media screen and (max-width:767px){
    .offer-main-container{
        width: 100%;
    }
    .offer-service-container{
        display: block;
        margin: 0px;
        margin-top: 10px;
    }
    .offer-thumbnail-container{
        width: 50%;
        height: 80px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .offer-content-container{
        width: 100%;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    .offer-button-container{
        width: 100%;
    }
    .offer-button{
        position: relative;
        font-size: 15px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .offer-title{
        font-size: 20px;
    }
}