.header-main-container{
    user-select: none;
}
.header-sub-container{
    display: flex;
}
.header-left-container{
    border-right: 1px solid black;
    width: 20%;
    padding-left: 20px;
    padding-top: 10px;
}
.header-center-container{
    width: 20%;
    padding-left: 20px;
    padding-top: 10px;
}
.header-right-container{

}
.header-title{
    display: block;
    font-size: 19px;
}
.header-image{
    width: 2100%;
    height: 200%;
}
.header-drop-down-options-container{
    --ion-background-color: var(--header-background-color);
}
.header-drop-down-buttons{
    display: inline;
    width: 100%;
    text-align: left;
    color: var(--header-color);
    font-weight: bold;
}
.header-drop-down-buttons-hover:hover{
    color: dodgerblue;
}
/*drop down lists*/
.header-drop-down-lists-main-container{
    position: fixed;
    z-index: 99;
    background-color: white;
    min-width: 200px;
    max-width: 320px;
    margin-left: -0px;
    color: black;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 2px 0px lightgray;
}
.header-drop-down-list-item{
    position: relative;
    display: block;
    padding: 5px;
}
.header-drop-down-list-item-hover:hover{
    color: dodgerblue;
    background-color: lightgray;
}

@media screen and (max-width:500px){
    .header-sub-container{
        display: block;
    }
    .header-left-container{
        border-right: none;
        width: 100%;
        padding-left: 20px;
        padding-top: 10px;
        font-weight: bold;
    }
    .header-center-container{
        width: 100%;
        padding-left: 20px;
        padding-top: 0px;
    }
    .header-right-container{
    
    }
    .header-image{
        position: absolute;
        width: 100%;
        height: 20%;
    }
    .header-title{
        display: inline;
        font-size: 15px;
        width: 100%;
        margin-right: 5px;
    }
    .header-drop-down-options-container{
        margin-top: -16px;
    }
    .header-drop-down-buttons{
        display: inline;
        width: 100%;
        text-align: center;
        color: white;
        font-weight: normal;
        font-size: 10px;
    }
}
