.header-main-container{
    user-select: none;
    font-family: 'Times New Roman', Times, serif;
}
.header-sub-container{
    display: flex;
}
.header-item-container{
    width: 20%;
    font-size: 19px;
    padding-left: 20px;
    padding-top: 10px;
    color: var(--header-text-color);
    border-right: 3px solid var(--header-background-color);
}
.header-item{
    display: block;
}
.header-image-container{
    width: 100%;
    height: 100px;
    padding-left: 5px;
}
.header-image{
    width: 100%;
    height: 100%;
    position: absolute;
}
.header-image-content{
    position: absolute;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 10px black;
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}
.header-drop-down-container{
    display: flex;
    color: white;
    height: 40px;
    background-color: var(--header-background-color);
    --ion-background-color: var(--header-background-color);
}
.header-dropdown-item-container{
    position: relative;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
.header-menu-item{
    position: relative;
    top: 20%;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 7px;
}
.header-hover:hover{
    color: dodgerblue;
}
.header-menu-container{
    position: absolute;
    display: none;
    top: 0;
    width: 100%;
    min-height: 50px;
    background: transparent;
}
.header-menu-button{
    position: absolute;
    z-index: 999;
    top: 10px;
    right: 10px;
    font-size: 40px;
}

@media screen and (max-width:767px){
    .header-sub-container{
        display: block;
    }
    .header-item-container{
        width: 100%;
        border-right: none;
        font-size: 17px;
    }
    .header-item{
        display: inline;
        padding-right: 5px;
    }
    .header-image-container{
        padding-left: 0px;
        margin-bottom: 20px;
    }
    .header-drop-down-container{
        display: none;
    }
    .header-dropdown-item-container{
        color: white;
        background-color: var(--header-background-color);
    }
    .header-menu-container{
        display: block;
    }
}