.header-main-container{
    position: relative;
    z-index: 999;
    user-select: none;
    font-family: 'Times New Roman', Times, serif;
}
.header-sub-container{
    display: flex;
}
.header-item-container{
    width: 20%;
    font-size: 19px;
    padding-left: 20px;
    padding-top: 10px;
    color: var(--header-text-color);
    border-right: 3px solid var(--header-background-color);
}
.header-item{
    display: block;
}
.header-image-container{
    width: 100%;
    height: 100px;
    padding-left: 5px;
}
.header-image{
    width: 100%;
    height: 100%;
    position: absolute;
}
.header-image-content{
    position: absolute;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 10px black;
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}
.header-drop-down-container{
    display: flex;
    color: white;
    height: 40px;
    background-color: var(--header-background-color);
    --ion-background-color: var(--header-background-color);
}
.header-dropdown-item-container{
    position: relative;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
.header-menu-item{
    position: relative;
    top: 20%;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 7px;
}
.header-hover:hover{
    color: dodgerblue;
}
.header-menu-container{
    position: absolute;
    display: none;
    top: 0;
    width: 100%;
    min-height: 50px;
    background: transparent;
}
.header-menu-button{
    position: absolute;
    z-index: 999;
    top: 10px;
    right: 10px;
    font-size: 40px;
}
.header-search-container{
    position: absolute;
    padding-top: 10px;
    width: 100%;
    z-index: 9;
    text-align: center;
    font-size: 20px;
}
.header-search-input-container{
    position: relative;
}
.header-search-input{
    border: none;
    width: 25%;
    height: 30px;
    padding-left: 10px;
    border-top: 1px solid skyblue;
    border-left: 1px solid skyblue;
    border-bottom: 1px solid skyblue;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 4px 4px 5px gray;
}
.header-search-button{
    position: absolute;
    top: 50%;
    padding: 4px;
    transform: translateY(-50%);
    color: var(--header-text-color );
    background-color: white;
    border-top: 1px solid skyblue;
    border-right: 1px solid skyblue;
    border-bottom: 1px solid skyblue;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 4px 4px 5px gray;
}
.header-open-search{
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    font-size: 17px;
    margin-right: 30px;
    border-radius: 3px;
    color: var(--header-text-color);
    background-color: white;
    user-select: none;
}
.header-open-search-icon{
    padding-right: 5px;
    padding-top: 3px;
}
.header-search-focus:focus{
    outline: none;
}
.header-search-click:active{
    box-shadow: 1px 1px 2px gray;
}
.header-search-suggestion{
    width: 25%;
    margin-top: 10px;
    margin-left: 50%;
    color: navy;
    transform: translateX(-50%);
    user-select: none;
    border-radius: 5px;
    background-color: white;
    box-shadow: 4px 4px 5px gray;
}
.header-suggestion-hover:hover{
    color: var(--header-text-color);
    background-color: lightgray;
}

@media screen and (max-width:767px){
    .header-sub-container{
        display: block;
    }
    .header-item-container{
        width: 100%;
        border-right: none;
        font-size: 17px;
    }
    .header-item{
        display: inline;
        padding-right: 5px;
    }
    .header-image-container{
        padding-left: 0px;
        margin-bottom: 20px;
    }
    .header-drop-down-container{
        display: none;
    }
    .header-dropdown-item-container{
        color: white;
        background-color: var(--header-background-color);
    }
    .header-menu-container{
        display: block;
    }
    .header-search-input{
        width: 55%;
    }
    .header-search-suggestion{
        width: 55%;
    }
}