.header-main-container{
    user-select: none;
}
.header-sub-container{
    position: relative;
    display: flex;
    overflow: hidden;
    height: 66%;
}
.header-left-container{
    border-right: 3px solid rgb(13, 58, 102);
    width: 20%;
    padding-left: 20px;
    padding-top: 10px;
    background-color: white;
}
.header-center-container{
    width: 20%;
    padding-left: 20px;
    padding-top: 10px;
    background-color: white;
}
.header-right-container{
    user-select: none;
}
.header-title{
    display: block;
    font-size: 19px;
    color: rgb(13, 58, 102);
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: bold;
    text-shadow: 1px 1px lightgray;
    font-family: 'Times New Roman', Times, serif;
}
.header-image{
    width: 2100%;
    height: 195%;
}
.header-drop-down-options-container{
    --ion-background-color: var(--header-background-color);
}
.header-drop-down-buttons{
    display: inline;
    width: 100%;
    text-align: left;
    color: var(--header-color);
    font-weight: bold;
}
.header-drop-down-buttons-hover:hover{
    color: dodgerblue;
}
.header-text-over-image-container{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.header-text-over-image-sub-container{
    position: relative;
    top: 10%;
    margin-left: 50%;
    transform: translateX(-50%);
}
.header-text-over-image-item{
    color: dodgerblue;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}

@media screen and (max-width:500px){
    .header-sub-container{
        display: block;
        height: 74%;
    }
    .header-left-container{
        border-right: none;
        width: 100%;
        padding-left: 20px;
        padding-top: 10px;
        font-weight: bold;
    }
    .header-center-container{
        width: 100%;
        padding-left: 20px;
        padding-top: 0px;
    }
    .header-right-container{
    
    }
    .header-image{
        position: absolute;
        width: 100%;
        height: 32%;
    }
    .header-title{
        display: inline;
        font-size: 15px;
        width: 100%;
        margin-right: 5px;
    }
    .header-drop-down-options-container{
        margin-top: -16px;
    }
    .header-drop-down-buttons{
        display: inline;
        width: 100%;
        text-align: center;
        color: white;
        font-weight: normal;
        font-size: 10px;
    }
    .header-text-over-image-item{
        margin-top: 40px;
        margin-left: -60px;
        font-size: 20px;
        font-weight: normal;
    }
}
