.intro-main-container{
    position: relative;
    user-select: none;
}
.intro-thumbnail-container{
    width: 100%;
    height: 400px;
}
.intro-background-image{
    width: 100%;
    height: 100%;
}
.intro-info-content-container{
    position: absolute;
    height: 100%;
    top: 0;
    padding: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
}
.intro-info-content-sub-container{
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}
.intro-content-title{
    font-size: 35px;
}
.intro-content-sub-title{
    font-size: 25px;
    font-weight: bold;
}
.intro-button{
    position: absolute;
    bottom: 0;
    border: 3px solid white;
    margin-left: 50%;
    transform: translateX(-60%);
    margin-bottom: 40px;
    font-size: 30px;
    padding: 10px;
}
.intro-button-hover:hover{
    color: blue;
    background-color: white;
}
@media screen and (max-width:500px){
    .intro-thumbnail-container{
        width: 100%;
        height: 600px;
    }
    .intro-info-content-sub-container{
        top: 0;
        margin-top: 230px;
    }
    .intro-button{
        position: inherit;
        width: 200px;
        transform: translateX(-58%);
        margin-bottom: 20px;
    }
    .intro-content-title{
        font-size: 25px;
    }
    .intro-content-sub-title{
        font-size: 20px;
        font-weight: normal;
    }
}