.pop-background-container{
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: 100%;
    user-select: none;
}
.test-test{
    width: 100%;
    height: 100%;
}
.pop-main-container{
    position: relative;
    display: flex;
    width: 60%;
    box-shadow: 4px 4px 10px black;
    top: 50%;
    margin-left: 50%;
    transform: translate3d(-50%, -50%, 0);
}
.pop-close-button{
    position: absolute;
    right: 0;
    color: navy;
    font-size: 30px;
    margin: 5px;
}
.pop-close-hover:hover{
    color: red;
}
.pop-image-container{
    width: 100%;
    height: 280px;
}
.pop-image{
    width: 100%;
    height: 100%;
}
.pop-content-container{
    width: 100%;
    font-weight: bold;
    font-size: 25px;
    padding: 12px;
    background-color: rgb(174, 182, 187);
}
.pop-contents{
    font-size: 20px;
    font-weight: normal;
}
.pop-button{
    position: relative;
    z-index: 99;
    font-size: 20px;
    width: 200px;
    color: white;
    padding: 8px;
    text-align: center;
    background-color: navy;
    box-shadow: 4px 4px 10px black;
}
.pop-back-button-style{
    width: 160px;
    height: 20px;
    margin-left: 10px;
    margin-top: -20px;
    border-radius: 50%;
    box-shadow: 10px 10px 10px black;
}
.pop-hover:hover{
    background-color: black;
}

@media screen and (max-width:767px){
    .pop-main-container{
        width: 90%;
    }
    .pop-image-container{
        width: 100%;
        height: 490px;
    }
    .pop-button{
        font-size: 13px;
        width: 125px;
    }
    .pop-back-button-style{
        width: 70px;
    }
}