/*drop down lists*/
.header-drop-down-lists-main-container{
    position: fixed;
    z-index: 999999;
    background-color: white;
    min-width: 200px;
    margin-left: -0px;
    padding: 5px;
    color: black;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 2px 0px lightgray;
}
.header-drop-down-list-item{
    position: relative;
    display: block;
    padding: 5px;
    border-bottom: 1px solid lightgray;
}
.header-drop-down-list-item-hover:hover{
    color: dodgerblue;
    background-color: lightgray;
}


/*for SuggestionBox*/
.suggest-container{
    width: 100%;
    padding: 20px;
    user-select: none;
}
.suggest-close-button-container{
    position: absolute;
    text-align: right;
    top: 0;
    z-index: 1;
    width: 100%;
    user-select: none;
}
.suggest-close-button{
    position: relative;
    padding: 5px;
    margin-right: 2px;
}
.suggest-hover:hover{
    color: red;
    background-color: lightgray;
}
.suggest-header{
    text-align: center;
}
.suggest-input-header{

}
.suggest-sub-header{
     
}
.suggest-input{
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--header-text-color);
}
.suggest-sub-header{
    
}
.suggest-textarea{
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--header-text-color);
}
.suggest-button-container{
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}
.suggest-buttons{
    width: 100px;
}

/*for ErrorBox*/
.error-box-container{
    padding: 10px;
    user-select: none;
}
.error-box-msg{
    color: orangered;
}
