

.admin-header-icon{
    display: none;
    font-size: 30px;
    margin-right: 10px;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid lightgray;
}

.admin-spliter-container{
    width: 100%;
    height: 100%;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}
.admin-splited-left-container{
    width: 30%;
    height: 100%;
    border-right: 1px solid rgb(31, 114, 146);
    padding: 10px;
}
.admin-splited-right-container{
    width: 70%;
    height: 100%;
    border-left: 1px solid rgb(31, 114, 146);
    padding: 10px;
}
.admin-sub-header{
    font-weight: bold;
    border-bottom: 2px solid rgb(31, 114, 146);
    user-select: none;
}
.admin-customer-list{
    width: 100%;
    height: 95%;
    padding: 5px;
    border: 1px solid gray;
    overflow: auto;
    user-select: none;
}
.admin-customers-container{
    margin-bottom: 5px;
    border-radius: 3px;
    padding-left: 5px;
    border: 1px solid gray;
    box-shadow: 1px 1px 3px gray;
}
.admin-customer-hover:hover{
    background-color: lightgray;
}
.admin-customer-info-container{
    padding: 3px;
    border-bottom: 2px solid gray;
    background-color: rgb(31, 114, 146);
    text-shadow: 1px 1px 1px black;
}
.admin-info-date{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    background-color: lightgray;
}
.admin-info-name{
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: inherit;
}
.admin-info-item{
    margin: 1px;
    color: white;
    padding: inherit;
}
.admin-info-item-ref{
    color: navy;
}
.admin-customer-info-unavailable{
    position: relative;
    height: 200px;
    user-select: none;
}
.admin-customer-unavailable{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    transform: translate3d(-50%,-50%,0);
}

@media screen and (max-width:767px){
    .admin-header-icon{
        display: block;
    }
    .admin-spliter-container{
        display: block;
        position: relative;
    }
    .admin-splited-left-container{
        position: absolute;
        z-index: 9999;
        width: 90%;
        border-right: none;
    }
    .admin-splited-right-container{
        width: 100%;
        border-left: none;
    }
}